body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image: url(../images/Catalonien\ flag.svg);
    background-size: auto 100%;
    nav {
        padding: 37px 20px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display:flex;
        gap: 20px;
    }

    a {
        font-weight: 800;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px 8px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        font-size: 13.5px;
    }
}

main {
    padding: 20px;
}

h1 {
    color: #004D98;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 650;
    margin: 0;
}

h2 {
    font-weight: 900;
}

.color-theme-1 {
    background-color: yellow;
}

.color-theme-2 {
    background-color: blue;
}

.color-theme-3 {
    background-color: red;
}

.color-theme-4 {
    background-color: yellow;
}