:root {
    /* CSS Variabler */
    --barca-page-width: 1100px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f7d7dc;
}

* {
    box-sizing: border-box;
}


header {
    background-image: url(../images/Catalonien\ flag.svg);
    background-size: auto 100%;


    .header-content {
        max-width: var(--barca-page-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    nav {
        padding: 37px 20px;
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    a {
        font-weight: 800;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 0.3em 0.6em;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        font-size: 18px;
        transition: all 300ms;

        &:hover {
           background-color: rgba(255, 255, 255, 0.95); 
           color: blue;
           transform: scale(1.09);
        }
    }


}

main {
    padding: 20px;
    max-width: var(--barca-page-width);
    margin-inline: auto;

    a {
        background-color: rgba(215, 206, 253, 0.6);
        color: blue;
        font-size: 18px;
        transition: all 300ms;

        &:hover {
            background-color: rgba(215, 206, 253, 0.88);
            color: rgb(3, 3, 131);

        }
    }
}

h1 {
    color: #004D98;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 650;
    margin: 0;
}

h2 {
    font-weight: 900;
}

.color-theme-1 {
    color: rgb(248, 206, 0);
}

.color-theme-2 {
    color: blue;
}

.color-theme-3 {
    color: red;
}

.color-theme-4 {
    color: rgb(248, 206, 0);
}

footer {
    padding: 20px;
    max-width: var(--barca-page-width);
    margin-inline: auto;
}