<header>
    <div class="header-content">
        <nav>
            <a href="/">Forside</a>
            <a href="/om-otto/">Om</a>
            <a href="/blog/">Blog</a>
        </nav>
        <img src="/images/logo.png" alt="Logo" width=150 />
    </div>
</header>