header {
    background: linear-gradient(var(--barca-blue), var(--barca-blue-dark));
    background-size: auto 100%;


    .header-content {
        max-width: var(--barca-page-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    nav {
        padding: 37px 20px;
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    a {
        font-weight: 800;
        background-color: var(--barca-pink-high-transparent);
        padding: 0.3em 0.6em;
        text-decoration: none;
        color: var(--barca-dark);
        border-radius: 10px;
        font-size: 18px;
        transition: all 300ms;

        &:hover {
           background-color: var(--barca-pink-low-transparent);
           color: var(--barca-blue);
           transform: scale(1.09);
        }
    }


}