main {
    flex: 1;
    padding: 20px;
    max-width: var(--barca-page-width);
    margin-inline: auto;

    a {
        color: var(--color-link);
        transition: all 300ms;

        &:hover {
            color: var(--barca-red-dark);

        }
    }
    li {
        margin-block-end: 0.6em;
    }
}